body{
    background-color: aqua;
}

#header{
    text-align: center;
    color: blueviolet;
}

#form{
    width: 40%;
    margin: auto;
}

input[type="text"], input[type="email"], input[type="number"]{
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 8px;
    border: 2px solid #dadfe2;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus{
    border: 4px solid #b4b3be;
}

input[type="radio"]:checked + label{
    color: blue;
    text-transform: uppercase;
}

input[type="checkbox"]:enabled + label{
    color: rgb(125, 14, 158);
    font-style: italic;
}

input[type="checkbox"]:checked + label{
    color: red;
    font-style: normal;
}

input[type="checkbox"]:disabled + label{
    color: gray;
}

ul li:first-child{
    background-color: aquamarine;
}

ul li:last-child{
    background-color: blue;
}

ul li:nth-child(4){
    background-color: yellow;
}

.thank_u{
    text-align: center;
}

p:empty{
    background-color: rgb(86, 209, 37);
    height: 20px;
}

#submit_btn{
    width: 100px;
    height: 40px;
    /* background-color:  */
    border: 1px solid blue;
    border-radius: 5px;
}

#submit_btn:hover{
    background-color: rgb(57, 70, 187);
    color: white;
}