@font-face {
    font-family: PT;
    src: url(../font/static/JosefinSans-Medium.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: PT;
}

/* Start Navigation */

.nav_logo{
    width: 300px;
    height: 90px;
    margin-left: 70px;
}

.navbar{
    float: right;
}
.navbar li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 30px;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.book_now{
    background-color: #37608f;
    border-radius: 8px;
    padding: 10px 20px;
    color: #ffffff !important;
    border: 1px solid #37608f;
}

.book_now:hover{
    background-color: #ffffff;
    color: #37608f !important;
    border: 1px solid #37608f;
}
.nav_item:hover{
    color: #37608f;
    transform: translateY(-5px);
    display: inline-block;
    transition-duration: .7s;
}
#nav{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    height: 90px;
}

/* End Navigation */

/* Start Bunner */

.bunner_img{
    margin-top: 90px;
    width: 100%;
}
.bunner{
    position: relative;
}
.bunner_text{
    position: absolute;
    top: 40%;
    width: 100%;
    color: #ffffff;
    text-align: center;
}
.bunner_text h1{
    margin-bottom: 20px;
    font-size: 50px;
}
.bunner input{
    padding: 12px 20px;
    outline: none;
    border: 1px solid #37608f;
    border-radius: 5px 0px 0px 5px;
    width: 300px;
}
.bunner_text button{
    padding: 12px 20px;
    border: 1px solid #37608f;
    background-color: #37608f;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
}

/* End Bunner */

/* Start Popular Destination */

#popular{
    padding-top: 80px;
    text-align: center;
    width: 80%;
    margin: auto;
}
.popular{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    grid-gap: 30px;
}
.popular_desc{
    margin-top: 10px;
    color: #756e6e;
}
.popular_hover img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.popular_item{
    border-radius: 20px;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);
}
.popular_name a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 18px;
    display: inline-block;
}
.popular_item:hover{
    transform: translateY(-10px);
    transition-duration: 0.5s;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}
.popular_hover{
    overflow: hidden;
    display: inline-block;
    border-radius: 10px 10px 0 0;
}
.popular_item:hover img{
    transform: scale(1.1);
    transition-duration: .7s;
}

/* End Popular Destination */

/* Start Package */

#package{
    width: 80%;
    margin: auto;
    padding-top: 80px;
}
.package_desc{
    margin-top: 10px;
    color: #756e6e;
}
.package_card{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.package_img{
    width: 100%;
    height: 100%;
}
.package_item{
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);
    border: 1px solid #d6dadf;
    padding: 5px;
}
.package_item h3{
    padding: 5px 15px;
    margin-top: 15px;
}
.package_item h3 a{
    text-decoration: none;
    color: black;
}
.package_item p{
    padding: 5px 15px;
    color: #756e6e;
}
.package_item p span{
    float: right;
}
.clear{
    clear: both;
}
.detail_btn{
    padding: 10px 25px 10px 20px;
    background-color: #37608f;
    color: #ffffff;
    margin-top: 20px;
    display: inline-block;
    float: right;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
.package_hover{
    overflow: hidden;
    height: 260px;
}
.package_hover:hover img{
    transform: scale(1.1);
    transition-duration: .7s;
}

/* End Package */

/* Start Dream */

#dream{
    margin-top: 80px;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}
.nature_video{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}
.dream_overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
     z-index: -1;
} 
.dream_container{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 120px 0px;
    gap: 50px;
    margin: auto;
    color: #ffffff;
}
.nature_left video{
    width: 100%;
    border-radius: 5px;
}
.nature_right p{
    margin-bottom: 20px;
}
.nature_right h1{
    margin-bottom: 20px;
}

.nature_right ul{
    padding-left: 14px;
    margin-bottom: 20px;
}
.nature_right ul li{
    margin-bottom: 10px;
}
.all_package{
    text-decoration: none;
    color: #ffffff;
    background-color: #37608f;
    border-radius: 8px;
    padding: 15px 30px;
    display: inline-block;
    margin-top: 5px;
}

/* End Dream */

/* Start Blog */

#blog{
    margin-top: 80px;
}
.blog_title{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.blog_desc{
    text-align: center;
    margin-bottom: 30px;
    color: #756e6e;
}
.blog_card{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: auto;
    gap: 30px;
}
.blog_img{
    width: 100%;
}
.blog_item{
    border: 1px solid #e9e1e1;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.08);
}
.blog_name{
    text-decoration-line: none;
    color: #37608f;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
}
.blog_para{
    padding: 0px 20px 20px;
}
.blog_read_more{
    text-decoration: none;
    color: #37608f;
    display: inline-block;
    padding: 0px 0px 20px 20px;
}
.blog_hover{
    width: 100%;
    height: 220px;
    object-fit: cover;
    overflow: hidden;
}
.blog_item:hover{
    transform: translateY(-10px);
    transition-duration: .7s;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.07);
}

.blog_item:hover .blog_img{
    transform: scale(1.1);
    transition-duration: .7s;
}

/* End Blog */

/* Start Footer */

#footer{
    margin-top: 80px;
    background: linear-gradient(135deg, #000000, #37608f);
    color: #ffffff;
}
.footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 90%;
    margin: auto;
    padding: 45px 0;
}
.footer img{
    width: 80%;
}
.footer ul li a{
    text-decoration: none;
    color: #ffffff;
}
.footer ul{
    margin-top: 20px;
}
.footer ul li{
    margin-bottom: 10px;
    list-style: none;
}
.social_icon{
    color: #ffffff;
    padding-right: 10px;
    margin-top: 20px;
    display: inline-block;
}
.copy_right{
    text-align: center;
    padding: 30px 0;
    background-color: #203653;
}

/* End Footer */